<!--
File: /index.html
Language: Django Template Language

Author: Michael D Washburn Jr. <mdw7326@rit.edu>

Description: The home page for my website
-->

{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block description %}
    <meta name="description" content="Michael Douglas Washburn Jr"/>
    <meta name="keywords" content="Michael Washburn Jr Greene New York Software Engineer R.I.T. RIT Rochester Institute of Technology"/>
{% endblock description %}

{% block extra_tags %}
{% endblock extra_tags %}

{% block page_id %}home{% endblock page_id %}

{% block content %}

<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
        <div class="thumbnail self">
            <img src="https://dl.dropboxusercontent.com/sh/w50g5b1f43k0m1e/z2Sx-MvJ3F/images/img.png?token_hash=AAEsMpEuhBZ05iUQ8vB8lCVEJCbdx7EpaNo7iVwYLJ9X_A&dl=1">
        </div>
    </div>

    <div class="col-xs-10 col-sm-9 col-md-9 col-lg-10">
        <h1>Michael D. Washburn Jr.<br>
            <small>
                3<sup>rd</sup> year Software Engineering student,<br>
                Rochester Institute of Technology
            </small>
        </h1><br>
    </div>
</div>

<div class="panel panel-primary">

    <div class="panel-heading">

        <h3 class="panel-title">About Me:</h3>

    </div>
    <div class="panel-body">

        &nbsp;
        I am going into my 3<sup>rd</sup> year at RIT as a Software Engineering Major.  
        I recently completed a Co-op (internship)
        at The Raymond Corporation as a Software Engineer Co-op.
        Outside of classes, I'm working as a Student Lab Intructor for an Introductory
        Computer Science Course and a Course Assistant for a Math Models of Software
        Engineering course.  I also like to make small side projects when given the time.
        You can view projects of mine <a href="./Projects">here</a> or
        on my GitHub Account <a href="https://github.com/mdw7326" target="_blank">here</a>.
        Additionally, I enjoy hunting and fishing in my free time.
        If you wish to get a hold of me, visit my <a href="./Contact/">Contact</a> page.
    </div>

</div>
{% endblock content %}