{% extends 'base.html' %}
{% block title %}Post Form{% endblock title %}
{% block content %}
<div class="container">

    {% if failure %}
    <div class="alert alert-danger">
        There were errors. Please fix the highlighted fields and submit the form again.
    </div>
    {% endif %}

    <form action="{{action}}" method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}
            <div class="entry {% if field.errors.0 %}entry-error{% endif %}">
                {{ field }}
                <div class="text-danger">{{ field.errors.0 }}</div>
            </div>
        {% endfor %}
        <br/>
        <div class="btn-group pull-right">
            <button class="btn btn-primary" type="submit" name="submit">
                Save
            </button>
        </div>
    </form>
    
</div>

{% endblock content %}
