{% extends 'base.html' %}
{% block title %}Tag Form{% endblock title %}
{% block content %}
<div class="container">

  {% if failure %}
  <div class="alert alert-danger">
    There were errors. Please fix the highlighted fields and submit the form again.
  </div>
  {% endif %}

  <form action="{% url 'blog:edit_tags' %}" method="POST">
    {% csrf_token %}

    <h1>Edit Tags</h1>
    <hr class="row"/>

    {% for form in edit_forms %}
      <div class="form-group row">
        {% for field in form %}
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3">{{ field.label_tag }}</div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-9 entry {% if field.errors.0 %}entry-error{% endif %}">
            {{ field }}
            <div class="text-danger">{{ field.errors.0 }}</div>
          </div>

        {% endfor %}
        <button class="col-lg-2 col-md-2 col-sm-2 col-xs-12 btn btn-danger" type="submit" name="delete-tag" value="{{form.prefix}}">
          <span class="glyphicon glyphicon-remove"></span> Remove
        </button>
      </div>
    {% endfor %}

    <div class="form-group row">
        {% for field in add_form %}
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3">{{ field.label_tag }}</div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-9 entry {% if field.errors.0 %}entry-error{% endif %}">
          {{ field }}
          <div class="text-danger">{{ field.errors.0 }}</div>
        </div>
        {% endfor %}

      <button class="col-lg-2 col-md-2 col-sm-2 col-xs-12 btn btn-success pull-right" type="submit" name="add-tag">
        <span class="glyphicon glyphicon-plus"></span> Add
      </button>
    </div>

    <div class="row">
      <button class="col-lg-2 col-md-2 col-sm-2 col-xs-12 btn btn-primary pull-right" type="submit" name="save-tags">
        <span class="glyphicon glyphicon-save"></span> Save Edits
      </button>
    </div>

  </form>

</div>

{% endblock content %}
