{% extends 'base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block description %}
	{{description}}
{% endblock description %}

{% block content %}

<div class="container">

	<div class="row">
		<div class="btn-group" role="group">
			<button class="btn btn-primary is-checked filter" data-filter="*">All</button>
			{% for tag in tags %}
			<button class="btn btn-primary is-checked filter" data-filter=".{{tag.slug}}">{{tag}}</button>
			{% endfor %}
		</div>
	</div>
	<div class="row" id="container">
		{% for post in posts %}
		<a class="col-lg-4 col-md-5 col-sm-6 col-xs-12 btn btn-default btn-tile item {{post.tags_to_str}}"
			href="{% url 'blog:info' post.id %}" class="">
			<h1>
				{{post.title}}
				<br/>
				<small>{{post.posted}}</small>
			</h1>
			
			<div class="tags">
			{% for tag in post.tags.all %}
				{% if tag in tags %}
				<span class="filter tag label label-primary label-md" data-filter=".{{tag.slug}}">{{tag}}</span>
				{% endif %}
			{% endfor %}
			</div>

			
		</a>
		{% endfor %}
	</div>
</div>

{% endblock content %}

{% block scripts %}
<script src="/rsc/js/isotope.pkgd.min.js"></script>
<script type="text/javascript">
	var $container = $('#container');
	// init
	// filter items on button click
	$container.isotope({ filter: "{{start_filter}}" });
	$('body').on( 'click', '.filter', function(e) {
		e.preventDefault();
		var filterValue = $(this).attr('data-filter');
		$container.isotope({ filter: filterValue });
	});
	
</script>
{% endblock scripts %}