{% extends 'base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block description %}
	{{description}}
{% endblock description %}

{% block content %}

<div class="container">

	<div class="row">
		<div id="filters" class="btn-group" role="group">
			<button class="btn btn-primary is-checked" data-filter="*">All</button>
			{% for tag in tags %}
			<button class="btn btn-primary is-checked" data-filter=".{{tag.slug}}">{{tag}}</button>
			{% endfor %}
		</div>
	</div>
	<div class="row" id="container">
		{% for post in posts %}
		<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 item {{post.tags_to_str}}">			
			<a href="{% url 'blog:info' post.id %}" class="btn btn-default btn-tile">
				<h1>
					{{post.title}}
					<br/>
					<small>{{post.posted}}</small>
				</h1>
				{% for tag in post.tags.all %}
					{% if tag in tags %}
					<span class="label label-primary label-md">{{tag}}</span>
					{% endif %}
				{% endfor %}
			</a>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock content %}

{% block scripts %}
<script src="/rsc/js/isotope.pkgd.min.js"></script>
<script type="text/javascript">
	var $container = $('#container');
	// init
	// filter items on button click
	$container.isotope({ filter: "*" });
	$('#filters').on( 'click', 'button', function() {
	  var filterValue = $(this).attr('data-filter');
	  $container.isotope({ filter: filterValue });
	});
</script>
{% endblock scripts %}