/*
 * Define General CSS Styles Here
 * Author: Michael Washburn
 */

/* remove navbar gradient */
.navbar {
  background-image: none;
}

body {
  margin-top: 50px;
}

.btn {
  -webkit-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  -ms-transition: background-color 1s linear;
  transition: background-color 1s linear;
}

.btn:hover {
  -webkit-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  -ms-transition: background-color 1s linear;
  transition: background-color 1s linear;
}

.btn-default:hover {
  color: #002a4d;
  background-color: #FFFFFF;
}

.btn-primary {
  border-color: #000000;
}

.btn-primary:hover {
  background-color: #FFFFFF;
}

/* Row with content, adds standard padding and borders */
.mdw-content-row {
  border-top: 10px solid #adadad;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Title/Subtitle styles */
.mdw-title {
}

.mdw-subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #909090;
  font-weight: normal;
}

/* Center Inner elements. Note: Inner elements should have margin: auto */
.mdw-center {
  text-align: center;
}

/*
 * Feature Group Syles
 * Feature groups have an image on the left, and content on the right.
 */
.mdw-feature-text-group {
  margin-top: 20px;
  margin-left: 40px;
  text-align: left;
}

.mdw-feature-group {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  padding: 20px;
}

.mdw-feature-group img {
  max-height: 420px;
}

.mdw-feature-group p {
  padding-top: 20px;
  max-width: 550px;
  font-size: 20px;
}


/*
 * Smaller Screens
 */
 @media (max-width: 768px) {

   .mdw-feature-text-group {
     margin-left: 0px;
   }

 }
