/* Landing View */

#landing-view {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: table;
  background: url(../images/code.jpg) top center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#landing-view h1 {
  position: absolute;
  top:30px;
  left:0px;
  padding: 10px;
  background-color: rgba(25,25,25,.5);
  color: white;
}

#landing-view .btn {
  position: absolute;
  bottom: 0;
  right:0;
  z-index: 1;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 40px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#landing-view #cog-left,
#landing-view #cog-right {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

#landing-view #cog-right {
  margin-top: -25px;
  margin-left: -45px;
  /* Spin clockwise */
  -webkit-animation:spin_cw 10s linear infinite;
  -moz-animation:spin_cw 10s linear infinite;
  animation:spin_cw 10s linear infinite;
}
@-moz-keyframes spin_cw { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin_cw { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin_cw { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#landing-view #cog-left {
  margin-top: -225px;
  margin-left: -245px;
  -ms-transform: rotate(deg); /* IE 9 */
  -webkit-transform: rotate(deg); /* Chrome, Safari, Opera */
  transform: rotate(deg);
  /* Spin counter-clockwise */
  -webkit-animation:spin_ccw 10s linear infinite;
  -moz-animation:spin_ccw 10s linear infinite;
  animation:spin_ccw 10s linear infinite;
}
@-moz-keyframes spin_ccw { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin_ccw { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin_ccw { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }


#content-area {
  position: absolute;
  top: 100%;
  left:0;
  width: 100%;
}

/*
 * Profile Styles
 */

#profile {
  margin: 0;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*
 * Resume Styles
 */

#resume {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: auto;
  background: url(../images/mountains.jpg) center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#resume .btn {
  font-size: 24px;
  background-color: rgba(255,255,255,.8);
  color: #003c6e;
  border-color: #003c6e;
}

#resume .btn:hover {
  background-color: rgba(0,60,110,.8);
  color: #FFFFFF;
  border-color: #FFFFFF;
}

#contact {
  padding: 50px;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  margin: 0;
}

/*
 * Contact Info Styles
 */

#contact h2 {
  margin: 0;
  padding: 0;
}

#contact .btn-default {
  font-size: 16px;
  text-shadow: none;
}

#contact .btn-default:hover {
  background-color: white;
}

/* Social Button Colors */

#Facebook-btn {
  background-color: #3b5998;
}

#Facebook-btn:hover {
  border-color: #3b5998;
  color: #3b5998;
}

#Twitter-btn {
  background-color: #55acee;
}

#Twitter-btn:hover {
  border-color: #55acee;
  color: #55acee;
}

#LinkedIn-btn {
  background-color: #007bb6;
}

#LinkedIn-btn:hover {
  border-color: #007bb6;
  color: #007bb6;
}

#GooglePlus-btn {
  background-color: #dd4b39;
}

#GooglePlus-btn:hover {
  border-color: #dd4b39;
  color: #dd4b39;
}

#Email-btn {
  background-color: #2fa4e7;
}

#Email-btn:hover {
  border-color: #2fa4e7;
  color: #2fa4e7;
}

#Github-btn {
  background-color: #444444;
}

#Github-btn:hover {
  border-color: #444444;
  color: #444444;
}

/* Preload Images */
#preload-mountains {
  background: url(../images/mountains.jpg) no-repeat -9999px -9999px;
}

#preload-me {
  background: url(../images/me.png) no-repeat -9999px -9999px;
}

/*
 * Smaller Screens
 */
 @media (max-width: 768px) {

   #landing-view #cog-left,
   #landing-view #cog-right {
     height: 100px;
     width: 100px;
   }

   #landing-view #cog-left {
     margin-left: -85px;
     margin-top: -70px;
   }

   #landing-view #cog-right {
     margin-left: -15px;
     margin-top: 0px;
   }

 }
