<!--
File: Project/info/index.html
Language: Django Template Language

Author: Michael D Washburn Jr. <mdw7326@rit.edu>

Description: Displays information for a specific project.
-->

{% extends 'base.html' %}

{% block title %}
Title
{% endblock title %}

{% block description %}
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
{% endblock description %}

{% block extra_tags %}
{% endblock extra_tags %}

{% block page_id %}project{% endblock page_id %}

{% block content %}

<a href="{% url 'mysite:projects' %}">Back to Projects</a>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>{{project.title}}</h2>
        <div >{{project.date_posted}}</div>
    </div>
    <div class="panel-body">
        <h3>Description:</h3>
        {{project.description}}
    </div>

</div>

{% endblock content %}