<!--
File: Project/info/index.html
Language: Django Template Language

Author: Michael D Washburn Jr. <mdw7326@rit.edu>

Description: Displays information for a specific project.
-->

{% extends 'base.html' %}

{% block title %}
Title
{% endblock title %}

{% block description %}
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
{% endblock description %}

{% block extra_tags %}
{% endblock extra_tags %}

{% block page_id %}project{% endblock page_id %}

{% block content %}

<a href="{% url 'mysite:projects' %}">Back to Projects</a>

<div style="width: 100%;">
    <div float="left" style="width: 50%;">
        <h3 text-align="left">
            {{project.title}}
        </h3>
    </div>
    <div style="width: 50%;">
        <h5 text-align="right">
            {{project.date_posted}}
        </h5>
    </div>
</div>

{% endblock content %}