<!--
File: Project/info/index.html
Language: Django Template Language

Author: Michael D Washburn Jr. <mdw7326@rit.edu>

Description: Displays information for a specific project.
-->

{% extends 'base.html' %}

{% block title %}
Title
{% endblock title %}

{% block description %}
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
{% endblock description %}

{% block extra_tags %}
{% endblock extra_tags %}

{% block page_id %}project{% endblock page_id %}

{% block content %}

<a href="{% url 'mysite:projects' %}">Back to Projects</a>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 style="margin-top: 0px;margin-bottom: 0px;">{{project.title}}</h1>
        <Date Posted: {{project.date_posted}}
    </div>

    <div class="panel-body">
        <div class="panel">
            <div class="panel-heading">
                <h5 class="panel-title">Description</h5>
            </div>
            <div class="panel-body">
                {{project.description}}
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading">
                <h5 class="panel-title">Links:</h5>
            </div>
            <ul class="list-group">
                {% for link in links %}
                    <li class="list-group-item">
                        <a href="{{link.url}}">{{link.display}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="panel">
            <div class="panel-heading">
                <h5 class="panel-title">Files:</h5>
            </div>
            <ul class="list-group">
                {% for file in files %}
                    <li class="list-group-item">
                        <a href="{{file.GetUrl}}">{{file.display}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>


{% endblock content %}