body{
	padding-top: 70px;
}

.thumbnail img{
	height: auto;
	width: 100%; 
}

.self{
	max-width: 210px;
	max-height: 210px;
}

.badge-small{
	display: none;
}

/* Index */
.row span{
	vertical-align: middle;
}

/* Resume */
#resume {
	overflow-y: hidden;
}

#resume iframe {
	position: absolute;
	top: 0;
	bottom: 0;	
	margin-top: 50px;
	padding-bottom: 50px;
	height: 100%;
	width: 100%;
}

/* btn-list styles used in project/post list */
#btn-list-title{
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}

.btn-list-item {
	margin-bottom: 20px;
}

@media only screen and (max-width: 768px){
	.thumbnail img{
		height: auto;
		width: 100%;
	}
}

@media only screen and (max-width: 500px){
	.badge-small{
		display: block;
	}
	.badge-large{
		display: none;
	}
}

@media only screen and (max-width: 400px){
	.tiny-stretch{
		width: 100%;
	}
}
