body{
	padding-top: 70px;
}

.thumbnail img{
	width: 100% !important; 
	height: auto !important;
}

.self{
	max-width: 210px;
	max-height: 210px;
}

.badge-small{
	display: none;
}

.panel-container .panel-body,
.panel-heading,
.panel-body{
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
}

.panel-title{
	font-size: 18pt;
}

/* RESUME PAGE */
#resume iframe {
	position: absolute;
	top: 50;/* to account for the nav bar */
	bottom: 0;	
	height: 100%;
}

@media only screen and (max-width: 1000px){

}

@media only screen and (max-width: 768px){
	.thumbnail img{
		height: auto;
		width: 100%;
	}
}

@media only screen and (max-width: 500px){
	.badge-small{
		display: block;
	}
	.badge-large{
		display: none;
	}
}
