{% extends 'base.html' %}
{% block title %}Page Form{% endblock title %}
{% block content %}
<div class="container">

    {% if failure %}
    <div class="alert alert-danger">
        There were errors. Please fix the highlighted fields and submit the form again.
    </div>
    {% endif %}

    <form action="{% url 'cm:create_page' %}" method="post">
        {% csrf_token %}
        {% for field in page_form %}
        <div class="form-group">
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-right">{{ field.label_tag }}</div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 entry {% if field.errors.0 %}entry-error{% endif %}">
                    {{ field }}
                    <div class="text-danger">{{ field.errors.0 }}</div>
                </div>
            {% endif %}
            <button class="btn btn-primary pull-right" value="submit">
                Submit
            </button>
        </div>
        {% endfor %}
    </form>
    
</div>

{% endblock content %}