{% extends 'base.html' %}
{% block title %}Page Form{% endblock title %}
{% block content %}
<div class="container">

    {% if failure %}
    <div class="alert alert-danger">
        There were errors. Please fix the highlighted fields and submit the form again.
    </div>
    {% endif %}

    <form action="{% url 'cm:create_page' %}" method="post">
        {% csrf_token %}

        <div class="jumbotron col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 container">

            <div class="form-group row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right">
                    {{page_form.page.label_tag}}
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 entry">{{page_form.page}}</div>
            </div>

            <button class="btn btn-block btn-success" value="submit">
                <span class="glyphicon glyphicon-plus"></span> Add Page 
            </button>

        </div>

    </form>
    
</div>

{% endblock content %}