{% extends 'base.html' %}
{% block title %}Page Form{% endblock title %}
{% block content %}
<div class="container">

    {% if failure %}
    <div class="alert alert-danger">
        There were errors. Please fix the highlighted fields and submit the form again.
    </div>
    {% endif %}

    <form action="{% url 'cm:edit_page' id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-right">
                {{page_form.page.label_tag}}
            </div>
            <div class="entry col-lg-10 col-md-10 col-sm-10 col-xs-12">{{page_form.page}}</div>
        </div>
        <br></br>
        <div class="btn-group pull-right">
            <button class="btn btn-danger" type="submit" name="delete">
                Delete
            </button>
            <button class="btn btn-primary" type="submit" name="submit">
                Submit
            </button>
        </div>
        
    </form>
    
</div>

{% endblock content %}