{% extends 'base.html' %}
{% block title %}Content Manager{% endblock title %}
{% block content %}
<div class="container">

    <div class="row">

        <div class="btn-group pull-right">
            <a class="btn btn-default" href="{% url 'cm:create_page' %}">
                Add Page
            </a>
            <a class="btn btn-default" href="{% url 'cm:create_content' %}">
                Add Content
            </a>
        </div>

    </div>

    <br/>

    {% for page in pages %}
    <div class="row">
        <div class="btn-group btn-group-vertical" style="width: 100%;">
            <a class="btn btn-primary btn-lg btn-block" href="{% url 'cm:edit_page' page.id %}">
                {{page|title}}
            </a>
            {% for content in page.get_content %}
                <a class="btn btn-default btn-md btn-block" href="{% url 'cm:edit_content' content.id %}">
                    {{content}}
                </a>
            {% endfor %}
        </div>
    </div>
    <br/>
    {% endfor %}
    
</div>

{% endblock content %}