{% extends 'base.html' %}
{% block title %}Michael Washburn Jr{% endblock title %}
{% block content %}

<div class="container">
    {% if my_heading %}
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <div class="thumbnail self">
                <img src="{{my_heading.media.url}}">
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
            <span>
                {{my_heading.body|safe}}
            </span>
        </div>
    </div>
    {% endif %}

    {% if about_me %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">{{about_me.title}}</h2>
        </div>
        <div class="panel-body font-large">
            {{about_me.body|safe}}
        </div>
    </div>
    {% endif %}

    {% include 'parts/contact_bar.html' %}
    
</div>

{% endblock content %}