body{
    padding-top: 70px;
    padding-bottom: 20px;
}

.font-large{
    font-size: 14pt;
}

.label-md {
    font-size: 12pt;

}

.label-border {
    border: 1px solid rgb(90, 90, 90);
}

.thumbnail img{
    height: auto;
    width: 100%; 
}

.self{
    max-width: 210px;
    max-height: 210px;
}

.badge-small{
    display: none;
}

/* Index */
.row span{
    vertical-align: middle;
}

/* Resume */
#resume {
    overflow-y: hidden;
    padding-bottom: 0px;
}

#resume object {
    position: absolute;
    top: 0;
    bottom: 0;    
    margin-top: 50px;
    padding-bottom: 50px;
    height: 100%;
    width: 100%;
}

/* btn-list styles used in project/post list */
.btn-tile {
    border-radius: 0px;
    /* sizes change per screen size */
    margin-right: 20px;
    margin-top: 10px;

    padding-top: 50px;
    padding-bottom: 55px;
    min-width: 300px;
}

.btn-tile:hover {
    z-index: 5;
    margin-left: -5px;
    margin-top: 15px;
    padding-bottom: 65px;
    min-width: 320px;
    /* shadow */
    -webkit-box-shadow: -4px 3px 10px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: -4px 3px 10px 0px rgba(0,0,0,0.33);
    box-shadow: -4px 3px 10px 0px rgba(0,0,0,0.33);
}

/* Tags hover effect */
.tags {
    text-align: center;
    margin-right: 25px;
}

.tag {
    margin-top: 10px;
    margin-right: -25px;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.btn-tile:hover .tags .tag {
    margin-right: 10px;
}

@media only screen and (max-width: 768px){
    .thumbnail img{
        height: auto;
        width: 100%;
    }

    .btn-tile {
        padding-top: 25px;
        padding-bottom: 35px;
    }
}

@media only screen and (max-width: 500px){
    .badge-small{
        display: block;
    }
    .badge-large{
        display: none;
    }
}

@media only screen and (max-width: 400px){
    .tiny-stretch{
        width: 100%;
    }
    .btn-tile {
        width: 100%;
    }
}


/* Bootstrap form emulation for django */
.login-form {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
}
.bootstrap-table {
  max-width: 1024px;
  width: 100%;
}

.bootstrap-table tr td {
  padding: 5px;
}

.bootstrap-table .col-right{
  width: 80%;
}

.bootstrap-table .col-left{
  text-align: right;
}


.bootstrap-table .col-left {
  vertical-align: middle;
}

.entry textarea, .entry input, .entry select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14pt;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-group label {
    font-size: 14pt
}
.entry textarea {
  height: auto;
}

.entry textarea:focus, .entry input:focus, .entry select:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.entry-error input, .entry-error select, .entry-error textarea{
  border-color: red;
  border-width: 2px;
}


.entry input:focus, .bootstrap-table textarea {
  color: black;
}

.entry input[type="checkbox"] {
  box-shadow: none;
  width: 20px;
}

.entry input[type="file"]{
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
}
/* end of bootstrap form emulation */
