<!--
File: Projects/index.html
Language: Django Template Language

Author: Michael D Washburn Jr. <mdw7326@rit.edu>

Description: A list of all my projects
-->

{% extends 'base.html' %}

{% block title %}
Projects
{% endblock title %}

{% block description %}
    <meta name="description" content="A List of all my Projects."/>
    <meta name="keywords" content="Projects"/>
{% endblock description %}

{% block extra_tags %}
{% endblock extra_tags %}

{% block page_id %}Projects{% endblock page_id %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">

        <h3 class="panel-title">Projects:</h3>

    </div>

    <table class="table">
    	<tr>
    		<td class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
    			<strong>Project</strong>
    		</td>
    		<td class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
    			<strong>Description</strong>
    		</td>
    		<td class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><strong>Last Updated</strong></td>
    	</tr>
    	{% for project in projects %}
    	<tr>
    		<td class="col-lg-2 col-md-2 col-sm-3 col-xs-3">	
    			<a href="{% url 'mysite:project' project.id %}">
    				{{project.title}}
    			</a>
    		</td>
    		<td class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
    			<div id="ellipses">
    				{{project.description}}
    			</div>
    		</td>
    		<td class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
    			{{project.last_updated}}
    		</td>
    	</tr>
    	{% endfor %}


    </table>

</div>

{% endblock content %}