
<div id="landing-view">
  <h1>Michael D. Washburn Jr.</h1>
  <img id="cog-left" src="{{RESOURCE_DIR}}/custom/images/cog-rotated.png"/>
  <img id="cog-right" src="{{RESOURCE_DIR}}/custom/images/cog.png"/>
  <button id="#profile-scroll-btn" class="btn btn-default" onclick="scrollToID('#profile')">
    <i class="fa fa-angle-down"></i>
  </button>
  <div id="preload-me"></div>
  <div id="preload-mountains"></div>
</div>

<div id="content-area">

  <div id="profile" class="row mdw-content-row">
    <div class="mdw-center">
      <div class="mdw-feature-group">
        <img src="{{RESOURCE_DIR}}/custom/images/me.png" class="img-rounded img-responsive pull-left"/>
        <div class="mdw-feature-text-group pull-left">
          <h1 class="mdw-title">Michael D. Washburn Jr.</h1>
          <h2 class="mdw-subtitle">Software Engineering Student</h2>
          <h2 class="mdw-subtitle">Rochester Institute of Technology</h2>
          <p>
            Hi, my name's Mike. I'm a 4<sup>th</sup> year student at RIT, currently working as a
            Software Engineer Co-op at <a target="_blank" href="http://eagledream.com">EagleDream Technologies</a>.
            A research paper of mine was recently accepted into the 38<sup>th</sup> International
            Conference on Software Engineering (ICSE 2016), and will soon be published. In my free
            time I enjoy gaming, camping, hunting, fishing, snowmobiling, and fourwheeling.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="resume" class="row mdw-content-row">
    <div class="mdw-center">
      <a class="btn btn-lg btn-primary" href="/Resume/">
        View My Resume
        <span class="glyphicon glyphicon-arrow-right"></span>
      </a>
    </div>
  </div>

  <div id="contact" class="row mdw-content-row">
    <div class="pull-left">
      <h2>Connect with me.</h2>
    </div>
    <div class="pull-right">
      <a id="Facebook-btn" class="btn btn-default">
        Facebook
        <span class="fa fa-facebook"></span>
      </a>
      <a id="Twitter-btn" class="btn btn-default">
        Twitter
        <span class="fa fa-twitter"></span>
      </a>
      <a id="LinkedIn-btn" class="btn btn-default">
        LinkedIn
        <span class="fa fa-linkedin"></span>
      </a>
      <a id="GooglePlus-btn" class="btn btn-default">
        Google+
        <span class="fa fa-google-plus"></span>
      </a>
      <a id="Email-btn" class="btn btn-default">
        E-Mail
        <span class="fa fa-envelope-o"></span>
      </a>
      <a id="Github-btn" class="btn btn-default">
        Github
        <span class="fa fa-github-alt"></span>
      </a>
    </div>
  </div>

</div>
