<div id="landing-view">
  <img id="cog-left" src="{{RESOURCE_DIR}}/custom/images/cog-rotated.png"/>
  <img id="cog-right" src="{{RESOURCE_DIR}}/custom/images/cog.png"/>
  <button id="#profile-scroll-btn" class="btn btn-default" onclick="scrollToID('#profile')">
    <i class="fa fa-angle-down"></i>
  </button>
</div>

<div id="profile" class="row mdw-content-row">
  <div class="mdw-center">
    <div class="mdw-profile">
      <img src="{{RESOURCE_DIR}}/custom/images/me.png" class="img-rounded pull-left"/>
      <div class="mdw-profile-text-group pull-left">
        <h1 class="mdw-title">Michael D. Washburn Jr.</h1>
        <h2 class="mdw-subtitle">Software Engineering Student, RIT</h2>
        <h2 class="mdw-subtitle">Co-op, EagleDream Technologies</h2>
      </div>
    </div>
  </div>
</div>
