<object id="resume" data="{{RESOURCE_DIR}}/custom/docs/Michael-Washburn-Jr-Resume.pdf" type="application/pdf"></object>
<!--<a id="resume-alt-link" class="btn btn-primary btn-block visible-xs-10" href="{{RESOURCE_DIR}}/custom/docs/Michael-Washburn-Jr-Resume.pdf">View Resume</a>-->
